*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
body{
    margin: 50px auto;
    max-width: 900px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}
nav, ul{
    display: flex;
    flex-direction: row;
    gap: 30px;
    justify-content: space-around;
    margin-bottom: 20px;
}
nav a{
    color: black;
    font-size: 17px;
}
table {
    width: 100%;
    max-width: 800px;
    height: 450px;
    border-collapse: collapse;
    background-color: white;
    box-shadow: 0 0 10px rgba(128, 64, 64, 0.712);
}
caption {
    font-size: 22px;
    margin-bottom: 10px;
    background-color: #2089c5;
    color: white;
    padding: 10px;
}
th {
    background-color: #3e4b58;
    color: white;
    padding: 10px;
    text-align: center;
    font-size: 25px;
}
td {
    padding: 10px;
    border: 1px solid #ddd;
    font-size: 22px;
}
tr:nth-child(even) {
    background-color: #f2f2f2;
}
footer {
    margin-top: 20px;
    width: 65%;
    text-align: center;
    background-color: #e0d7d7;
    color: #333;
    padding: 10px;
}
